h3 {
    font-size: 500%;
    color: red;
}

.tron{
    width: 50px;
    height:50px;
    border-radius: 25px;
    background-color: brown;
}
.vuong{
    width: 50px;
    height:50px;
    border-radius: 2px;
    background-color: brown;
}